  
<% object.each{ |i| %>
  <%= link_to i[:name], 
  "http://www.codeforces.com/contest/#{i[:contestId]}/problem/#{i[:index]}",
  class: "fixed_width"%>
  <div class="from">, from &nbsp;  </div> 
  <%= link_to i[:source], "http://www.codeforces.com/contest/#{i[:contestId]}",
  class: "fixed_width"%>
  , solved by <%= i[:solved_num]%> people</br>
<% } %>